* {
  margin: 0;
  padding: 0;
}
.table1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.campo input[type="email"],
.campo input[type="password"] {
  border: 1px solid #04010c;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.botao {
  position: absolute;
  top: 60%;
  left: 46%;
}
.btn-primary {
  font-size: 1em;
  background: #9899e7;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.btn-primary:hover {
  background: #5a26f5;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}
.btn-primary,
select {
  cursor: pointer;
}
